#!/usr/bin/env ruby

# A few helpful tips about the Rules file:
#
# * The string given to #compile and #route are matching patterns for
#   identifiers--not for paths. Therefore, you can’t match on extension.
#
# * The order of rules is important: for each item, only the first matching
#   rule is applied.
#
# * Item identifiers start and end with a slash (e.g. “/about/” for the file
#   “content/about.html”). To select all children, grandchildren, … of an
#   item, use the pattern “/about/*/”; “/about/*” will also select the parent,
#   because “*” matches zero or more characters.


# ASSETS

compile '/assets/css/*/' do
  if item.identifier =~ %r{/_[^/]+/$}
    # don't compile partials
  else
    filter :sass, :syntax => :scss, :style => :compressed
    filter :relativize_paths, type: :css
  end
end

compile '/assets/*/' do
  # don't filter or layout
end

route '/assets/css/*/' do
  if item.identifier =~ %r{/_[^/]+/$}
    # don't route partials
  else
    item.identifier.chop + '.css'
  end
end

route '/assets/*/' do
  item.identifier.chop + '.' + item[:extension]
end


# SITE

compile '*' do
  if item.binary?
    # don’t filter binary items
  else
    filter :erb
    filter :kramdown, toc_levels: [2]
    filter :colorize_syntax, default_colorizer: :pygmentsrb
    layout 'default'
  end
end

route '*' do
  if item.binary?
    # Write item with identifier /foo/ to /foo.ext
    item.identifier.chop + '.' + item[:extension]
  else
    # Write item with identifier /foo/ to /foo/index.html
    item.identifier + 'index.html'
  end
end


layout '*', :erb
