//
// Application Template
// --------------------------------------------------

.container {
  max-width: 970px !important;
}

// Reset Bootstrap style on <code> inside table.
.table td code {
  padding: 0;
  color: #333333;
  background-color: transparent;
  border: none;
}

// Increase bottom margin. It looks better.
h2 {
  margin-top: 20px;
  margin-bottom: 20px;
}


// Restore custom sidebar navigation style
.nav-list {
  margin-right: 0;
  margin-left: 0;
  padding: 0;
  list-style: none;
}
.nav-list li a {
  display: block;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  border-left: 5px solid #eeeeee;
  color: #333;
}
.nav-list ul li a {
  padding-left: 30px;
}
.nav-list li {
  padding: 0;
  margin-right: 0;
  margin-left: 0
}
.nav-list li a:hover,
.nav-list li.active a {
  color: #cc8b00;
  border-left: 5px solid #cc8b00;
}


// Make the first title of the page more prominent.
#main > h1 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

  // .page-header
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eeeeee;
}

// Center-align images and display them as block by default.
#main img {
  display: block;
  margin: 20px auto;
}


#sidebar {
  margin-top: 20px;
}
.sidebar-title {
  margin-top: 25px;
  margin-bottom: 15px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
}
.sidebar-infobox {
  font-size: 1.3rem;
  margin: 3rem 0;
  padding: 15px;
}

