//
// Application Template
// --------------------------------------------------

.container {
  max-width: 970px !important;
}

// Reset Bootstrap style on <code> inside table.
.table td code {
  padding: 0;
  color: #333333;
  background-color: transparent;
  border: none;
}

// Increase bottom margin. It looks better.
h2 {
  margin-top: 20px;
  margin-bottom: 20px;
}


// Markers
// ---------------

.marker {
  margin: 20px 0;
  padding: 15px;
}

.marker :first-child {
  margin-top: 0;
}

.marker p:last-child {
  margin-bottom: 0;
}

.marker-note {
  background: lighten(#adb5bd, 25%);
  color: darken(#adb5bd, 20%);
  border-left: 3px solid lighten(#adb5bd, 10%);
}

.marker-info {
  background: lighten($accent-color, 50%);
  color: lighten($accent-color, 20%);
  border-left: 3px solid lighten($accent-color, 10%);
}

.marker-warning {
  background: lighten($warning-color, 32%);
  color: darken($warning-color, 15%);
  border-left: 3px solid darken($warning-color, 15%);
}

.marker-danger {
  background: lighten($accent-color, 32%);
  color: darken($accent-color, 15%);
  border-left: 3px solid darken($accent-color, 15%);
}


// Article
// -------------------------
// Styles for a single article entry.

// .article img {
#main img {
  display: block;
  margin: 20px auto;
  max-width: 100%;
}

#toc {
  &:before {
    margin-right: 10px;
    content: "\f02e";
    font-family: FontAwesome;
  }
}

// Sidebar
// -------------------------

#sidebar {
  margin-top: 20px;
}
.sidebar-title {
  margin-top: 25px;
  margin-bottom: 15px;
}
.sidebar-infobox {
  margin: 3rem 0;
  padding: 15px;
}


// Sidebar Navigation
// -------------------------

// Restore custom sidebar navigation style
.nav-list {
  margin-right: 0;
  margin-left: 0;
  padding: 0;
  list-style: none;
}
.nav-list li a {
  display: block;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  border-left: 5px solid #eeeeee;
  color: #333;
}
.nav-list ul li a {
  padding-left: 30px;
}
.nav-list li {
  padding: 0;
  margin-right: 0;
  margin-left: 0
}
.nav-list li a:hover,
.nav-list li.active a {
  color: $accent-color;
  border-left: 5px solid $accent-color;
}


// API deprecated warning
.deprecated-warning {
  margin-top: 20px;
  margin-bottom: -10px;
  background: lighten($warning-color, 50%);
  color: $warning-color;
  border-left: 3px solid lighten($warning-color, 10%);
  padding: 10px 0 10px 20px;
}

