//
// Application Template
// --------------------------------------------------

.container {
  max-width: 970px !important;
}

// Reset Bootstrap style on <code> inside table.
.table td code {
  padding: 0;
  color: #333;
  background-color: transparent;
  border: none;
}

#sidebar {
  margin-top: 20px;
}
.sidebar-title {
  margin-top: 25px;
  margin-bottom: 15px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
}
.sidebar-infobox {
  font-size: 1.3rem;
  margin: 3rem 0;
  padding: 15px;
}

main > h1 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

  // .page-header
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eeeeee;
}

h2 {
  margin-top: 20px;
  margin-bottom: 20px;
}


.nav-list {
  margin-right: 0;
  margin-left: 0;
  padding: 0;
  list-style: none;
}
.nav-list li a {
  display: block;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  border-left: 5px solid #ddd;
  color: #333;
}
.nav-list li a:hover,
.nav-list li .active a {
  border-left: 5px solid #0088cc;
  background: none;
  color: #0088cc;
  text-decoration: none;
  // text-shadow: 1px 1px 0px white;
}
.nav-list li a {
  padding-left: 15px;
}
.nav-list ul li a {
  padding-left: 30px;
}
.nav-list li {
  padding: 0;
  margin-right: 0;
  margin-left: 0
}
.nav-list li a:hover,
.nav-list li.active a {
  color: #cc8b00;
  border-left: 5px solid #cc8b00;
}
