//
// Application Template
// --------------------------------------------------

.container {
  max-width: 970px !important;
}

// Reset Bootstrap style on <code> inside table.
.table td code {
  padding: 0;
  color: #333;
  background-color: transparent;
  border: none;
}

// Increase bottom margin. It looks better.
h2 {
  margin-top: 20px;
  margin-bottom: 20px;
}


// Markers
// ---------------

.marker {
  margin: 20px 0;
  padding: 15px;
  padding-left: 60px;
  position: relative;
  border-radius: 4px;
  border: 1px solid;

  a {
    text-decoration: underline;
    color: #000;
  }

  h4 {
    color: #000;
  }

  &:before {
    position: absolute;
    top: .7em;
    left: 1em;
    font-family: FontAwesome;
    font-size: 18px;
  }}

.marker :first-child {
  margin-top: 0;
}

.marker :last-child {
  margin-bottom: 0;
}

.marker-tip {
  background: #f3f9f4;
  border-color: #91c89c;

  &:before {
    content: "\f00c";
  }
}

.marker-info {
  background: #fcfcfd;
  border-color: #aab8c6;

  &:before {
    content: "\f05a";
  }
}

.marker-note {
  background: #fffdf6;
  border-color: #ffeaae;

  &:before {
    content: "\f071";
  }
}

.marker-warning {
  background: #fff8f7;
  border-color: #d04437;

  &:before {
    content: "\f06a";
    color: #d04437;
  }
}

p + .marker {
  margin-top: 0px;
}


// Article
// -------------------------
// Styles for a single article entry.

// .article img {
#main img {
  display: block;
  margin: 20px auto;
  max-width: 100%;
}

#toc {
  &:before {
    margin-right: 10px;
    content: "\f02e";
    font-family: FontAwesome;
  }
}

// Sidebar
// -------------------------

#sidebar {
  margin-top: 20px;
}
.sidebar-title {
  margin-top: 25px;
  margin-bottom: 15px;
}
.sidebar-infobox {
  margin: 3rem 0;
  padding: 15px;
}


// Sidebar Navigation
// -------------------------

// Restore custom sidebar navigation style
.nav-list {
  margin-right: 0;
  margin-left: 0;
  padding: 0;
  list-style: none;
}
.nav-list li a {
  display: block;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  border-left: 5px solid #eeeeee;
  color: #333;
}
.nav-list ul li a {
  padding-left: 30px;
}
.nav-list li {
  padding: 0;
  margin-right: 0;
  margin-left: 0
}
.nav-list li a:hover,
.nav-list li.active a {
  color: $accent-color;
  border-left: 5px solid $accent-color;
}
