$border-color: #ccc;

.tab-content {
  border-left: 1px solid $border-color;
  border-right: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  padding: 1rem;
  pre {
    padding: 0;
    background: transparent;
    border: 0;
  }
}

.tabActive {
  border-left: 1px solid $border-color;
  border-right: 1px solid $border-color;
  border-top: 1px solid $border-color;
  border-bottom: none !important;
}

.tabs-top {
  display: flex;
}
.tab {
  cursor: pointer;
  padding: 0.5rem;
  display: inline-block;
  border-bottom: 1px solid $border-color;
}
.tab-buffer {
  flex: 1;
  border-bottom: 1px solid $border-color;
}
