//
// Base Template
// --------------------------------------------------

.bg-pipes {
  background-image: url(/assets/images/border.jpg);
  background-position: center top;
  background-repeat: repeat-x;
  background-size: 900px 10px;
}
