//
// Base Template
// --------------------------------------------------

html {
  background-color: #f2f2f2; // same as footer
}

body {
  background-color: #fefefe; // site is using #fafafa
}

a {
  transition: all 0.2s ease;
}

// Reset Bootstrap rounded corners on <pre>.
pre {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

// Bootstrap code color is horrible
code {
  color: inherit;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

// h5 is often used as an alternative for a **small title**
h5 {
  font-weight: bold;
  font-size: 15px;
}


// Header
// -------------------------

.site-head {
  padding: 15px 0;
  background: #FFF;
  color: #000;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.15);
}

.site-logo {
  vertical-align: text-top;
}

.site-link-to-app {
  padding-top: $base-unit / 4;
  color: $gray-500;
  &:before {
    margin-right: 10px;
    content: "\f08e";
    font-family: FontAwesome;
  }
}

// Footer
// -------------------------

.site-footer {
  margin: 8rem 0 0 0;
  padding: 4rem 0;
  border-top: 1px solid #dddddd;
  box-shadow: inset 0 1px 0 #ffffff;
  color: #aaaaaa;
  background: #f2f2f2;
}

.site-footer-links {
  // .list-inline
  padding-left: 0;
  list-style: none;
}
.site-footer-links li {
  padding-right: 0;
  padding-left: 0;

  // .list-inline > li {
  display: inline-block;
}
.site-footer-links li:before {
  content: '\00B7';
  padding-right: 15px;
  padding-left: 10px;
}
.site-footer-links li:first-child {
  // .list-inline > li:first-child
  padding-left: 0;
}
.site-footer-links li:first-child:before {
  content: none;
  padding-left: 0;
}

.site-footer a {
  color: #7a7a7a;
  text-decoration: none;
}
.site-footer a:hover {
  color: #333333;
}
