$base-unit: 1.5em;
$font-family: "Helvetica Neue", Arial, sans-serif;

body {
  font-family: $font-family;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

h1, h2, h3 {
  color: #000;
  font-weight: normal;
}

h1 {
  color: $accent-color;
  font-size: 2em;
  line-height: 1.3;
  margin-top: $base-unit;
  margin-bottom: $base-unit/1.5;
}

h2 {
  font-size: 1.4em;
  margin: $base-unit/1.5 0;
}

h3 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: $base-unit/1.5;
  i {
    margin-right: $base-unit/4;
  }
}

p {
  margin: 0 0 $base-unit/1.5 0;
}

pre {
  margin: 0 0 $base-unit/1.5 0;
}

a {
  color: $accent-color;
}
