$base-unit: 1.5em;
$font-family: -apple-system, BlinkMacSystemFont,
               'avenir next', avenir,
               'helvetica neue', helvetica,
               ubuntu,
               roboto, noto,
               'segoe ui', arial,
               sans-serif;

$font-monospace: Menlo,Monaco,Consolas,"Courier New",monospace;

body {
  font-family: $font-family;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

h1, h2, h3 {
  color: #000;
  font-weight: normal;
}

h1 {
  font-size: 2em;
  line-height: 1.3;
  margin-top: $base-unit;
  margin-bottom: $base-unit/1.5;
}

h2 {
  font-size: 1.4em;
  margin: 20px 0 10px 0;
}

h3 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: $base-unit/1.5;
  i {
    margin-right: $base-unit/4;
  }
}

h5 {
  font-weight: bold;
  font-size: 15px;
}


p, pre, table {
  margin: 0 0 $base-unit/1.5 0;
}

a {
  color: $accent-color;
  transition: all 0.2s ease;
}

hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #eee;
}

code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background: #f9f2f4;
  border-radius: 4px;
}

pre {
  display: block;
  overflow: scroll;
  padding: 10px;
  font-size: 100%;
  font-family: $font-monospace;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  word-break: break-all;
  word-wrap: break-word;
  border-radius: 4px;
  code {
    background: transparent;
  }
}
