// pre > code { background: #ffffff; }
pre > code .c { color: #999988; font-style: italic } /* Comment */
pre > code .err { color: #a61717; background-color: #e3d2d2 } /* Error */
pre > code .k { font-weight: bold } /* Keyword */
pre > code .o { font-weight: bold } /* Operator */
pre > code .cm { color: #999988; font-style: italic } /* Comment.Multiline */
pre > code .cp { color: #999999; font-weight: bold } /* Comment.Preproc */
pre > code .c1 { color: #999988; font-style: italic } /* Comment.Single */
pre > code .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
pre > code .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
pre > code .gd .x { color: #000000; background-color: #ffaaaa } /* Generic.Deleted.Specific */
pre > code .ge { font-style: italic } /* Generic.Emph */
pre > code .gr { color: #aa0000 } /* Generic.Error */
pre > code .gh { color: #999999 } /* Generic.Heading */
pre > code .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
pre > code .gi .x { color: #000000; background-color: #aaffaa } /* Generic.Inserted.Specific */
pre > code .go { color: #888888 } /* Generic.Output */
pre > code .gp { color: #555555 } /* Generic.Prompt */
pre > code .gs { font-weight: bold } /* Generic.Strong */
pre > code .gu { color: #aaaaaa } /* Generic.Subheading */
pre > code .gt { color: #aa0000 } /* Generic.Traceback */
pre > code .kc { font-weight: bold } /* Keyword.Constant */
pre > code .kd { font-weight: bold } /* Keyword.Declaration */
pre > code .kp { font-weight: bold } /* Keyword.Pseudo */
pre > code .kr { font-weight: bold } /* Keyword.Reserved */
pre > code .kt { color: #445588; font-weight: bold } /* Keyword.Type */
pre > code .m { color: #009999 } /* Literal.Number */
pre > code .s { color: #d14 } /* Literal.String */
pre > code .na { color: #008080 } /* Name.Attribute */
pre > code .nb { color: #0086B3 } /* Name.Builtin */
pre > code .nc { color: #445588; font-weight: bold } /* Name.Class */
pre > code .no { color: #008080 } /* Name.Constant */
pre > code .ni { color: #800080 } /* Name.Entity */
pre > code .ne { color: #990000; font-weight: bold } /* Name.Exception */
pre > code .nf { color: #990000; font-weight: bold } /* Name.Function */
pre > code .nn { color: #555555 } /* Name.Namespace */
pre > code .nt { color: #000080 } /* Name.Tag */
pre > code .nv { color: #008080 } /* Name.Variable */
pre > code .ow { font-weight: bold } /* Operator.Word */
pre > code .w { color: #bbbbbb } /* Text.Whitespace */
pre > code .mf { color: #009999 } /* Literal.Number.Float */
pre > code .mh { color: #009999 } /* Literal.Number.Hex */
pre > code .mi { color: #009999 } /* Literal.Number.Integer */
pre > code .mo { color: #009999 } /* Literal.Number.Oct */
pre > code .sb { color: #d14 } /* Literal.String.Backtick */
pre > code .sc { color: #d14 } /* Literal.String.Char */
pre > code .sd { color: #d14 } /* Literal.String.Doc */
pre > code .s2 { color: #d14 } /* Literal.String.Double */
pre > code .se { color: #d14 } /* Literal.String.Escape */
pre > code .sh { color: #d14 } /* Literal.String.Heredoc */
pre > code .si { color: #d14 } /* Literal.String.Interpol */
pre > code .sx { color: #d14 } /* Literal.String.Other */
pre > code .sr { color: #009926 } /* Literal.String.Regex */
pre > code .s1 { color: #d14 } /* Literal.String.Single */
pre > code .ss { color: #990073 } /* Literal.String.Symbol */
pre > code .bp { color: #999999 } /* Name.Builtin.Pseudo */
pre > code .vc { color: #008080 } /* Name.Variable.Class */
pre > code .vg { color: #008080 } /* Name.Variable.Global */
pre > code .vi { color: #008080 } /* Name.Variable.Instance */
pre > code .il { color: #009999 } /* Literal.Number.Integer.Long */