//
// Base Template
// --------------------------------------------------

.bg-pipes {
  background-image: url(/assets/images/border.jpg);
  background-position: center top;
  background-repeat: repeat-x;
  background-size: 900px 10px;
}

#search {
  background: var(--elementInverse);
  color: var(--gray);
  padding: 0.7rem;

  &:hover {
    color: var(--primary);
    border-color: var(--primary);
  }

  .keyboard-shortcut {
    background: var(--surface1);
    padding: 0.15rem 0.25rem;
  }
}
