@use "sass:math";

$base-unit: 1.5em;
$font-family: -apple-system, BlinkMacSystemFont,
               'avenir next', avenir,
               'helvetica neue', helvetica,
               ubuntu,
               roboto, noto,
               'segoe ui', arial,
               sans-serif;

$font-monospace: Menlo,Consolas,Monaco,"Courier New",monospace;

body {
  font-family: $font-family;
  font-size: 16px;
  line-height: 1.5;
}

h1, h2, h3 {
  font-weight: normal;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1.3;
  margin: 0;
  padding: 24px 0 24px 0;
}

h2 {
  font-size: 1.4rem;
  font-weight: bold;
  margin: 0;
  padding: 18px 0 8px 0;
}

h3 {
  font-size: 1em;
  font-weight: bold;
  margin: 0;
  padding: 12px 0 8px 0;
  i {
    margin-right: math.div($base-unit, 4);
  }
}

h5 {
  font-weight: bold;
  font-size: 15px;
}

p, pre, table {
  margin: 0 0 math.div($base-unit, 1.5) 0;
}

a {
  transition: all 0.2s ease;
}

hr {
  margin: 20px 0;
  border: 0;
}

code {
  padding: 2px 4px;
  font-size: 90%;
  color: inherit;
  border-radius: 4px;
}

pre {
  display: block;
  overflow: auto;
  padding: 10px;
  font-size: 100%;
  font-family: $font-monospace;
  word-break: break-all;
  word-wrap: break-word;
  border-radius: 4px;
  code {
    padding: 0;
    background: transparent;
    font-family: $font-monospace;
  }
}
