<%= render "header" %>

<div class="mw8 center ph2">
  <div class="flex flex-wrap-reverse flex-wrap-ns">
    <aside id="sidebar" class="pt3 w-100 w-30-ns" role="sidebar">
      <%= render "sidebar" %>
    </aside>
    <main id="main" class="pt3 w100 w-70-ns" role="main">
      <%= yield %>
    </main>
  </div>
</div>

<%= render "footer" %>

<script
  type="text/javascript"
  src="https://support.dnsimple.com/widget.js"
  data-dnsimple-current-site-url="https://developer.dnsimple.com"
></script>
<script src="/dist/main.js"></script>
