<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%= @item[:title] %> - DNSimple API</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="/assets/css/bootstrap.css" rel="stylesheet">
  <link href="/assets/css/style.css" rel="stylesheet">

  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <script src="/assets/bootstrap/js/bootstrap.js"></script>

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-17301867-4']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>

<body>

  <div class="navbar navbar-static-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="/" title="DNSimple API">
          <img src="/assets/images/dnsimple-logo.png" alt="DNSimple API" />
        </a>
        <!-- <ul class="nav">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="#">Link</a></li>
        </ul> -->
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div id="main" class="span8">
        <%= yield %>
      </div>
      <div id="sidebar" class="span4">
        <%= render "sidebar" %>
      </div>
    </div>
  </div>

  <footer>
    <div class="container">
      <p>Copyright © 2012 Aetrion LLC.</p>
      <p>
        <a href="https://dnsimple.com/">DNSimple</a>
        <a href="https://dnsimple.com/about">About</a>
        <a href="http://support.dnsimple.com/">Support</a>
      </p>
    </div>
  </footer>

</body>
</html>
