<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%= @item[:title] %> - DNSimple API</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <link href="/assets/bootstrap/css/bootstrap.css" rel="stylesheet">
  <link href="/assets/css/style.css" rel="stylesheet">

  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <script src="/assets/bootstrap/js/bootstrap.js"></script>
</head>

<body>

  <div class="navbar navbar-static-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="/" title="DNSimple API">
          <img src="/assets/images/dnsimple-logo.png" alt="DNSimple API" />
        </a>
        <!-- <ul class="nav">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="#">Link</a></li>
        </ul> -->
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div id="main" class="span9">
        <%= yield %>
      </div>
      <div id="sidebar" class="span3">
        <%= render "sidebar" %>
      </div>
    </div>
  </div>

  <footer>
    <div class="container">
      <p>Copyright © 2012 Aetrion LLC.</p>
      <p>
        <a href="https://dnsimple.com/">DNSimple</a> &bull;
        <a href="https://dnsimple.com/about">About</a> &bull;
        <a href="http://support.dnsimple.com/">Support</a>
      </p>
    </div>
  </footer>

</body>
</html>
