  <footer class="bg-pipes pt5 pb5 mt6">
    <div class="mw8 center ph2">
      <div class="flex flex-wrap justify-between">
        <div class="w-100 w-70-ns tc tl-ns">
          <img src="/assets/images/dnsimple-footer.svg" alt="DNSimple Help">
          <h2 class="ma0 pt2 pb3 b">Get Help From Developers</h2>
          <p class="measure">Everyone at DNSimple enjoys writing developer docs.<br>We love answering your emails, too.</p>
          <a href="https://dnsimple.com/campaign/support" class="cta-button link grow br2 ph4 pv3 mb2 dib b">Try us free for 30 days</a>
        </div>
        <div class="w-100 w-30-ns tc tl-ns">
          <nav>
            <a href="https://dnsimple.com/campaign/support" class="pb2 db link">DNSimple.com</a>
            <a href="https://support.dnsimple.com/" class="pb2 db link">Support</a>
            <a href="https://blog.dnsimple.com/" class="pb2 db link">Blog</a>
            <a href="https://dnsimple.com/contact" class="pb2 db link">Contact</a>
            <a href="http://dnsimplestatus.com/" class="pb2 db link">Status</a>
          </nav>
          <p class="pt4 f6">&copy; <%= Time.now.year %> DNSimple Corporation</p>
        </div>
      </div>
    </div>
  </footer>

</body>
</html>
