<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title><%= @item[:title] %></title>
  <meta name="description" content="<%= @item[:excerpt] %>">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="shortcut icon" type="image/png" href="/assets/images/favicon.ico" />

  <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <%= render "analytics" %>
</head>

<body>

  <header class="bg-white shadow-1">
    <div class="mw8 center ph2">
      <div class="flex justify-between pv2">
        <div class="self-center w-80-ns w-100">
          <div class="flex-ns">
            <a href="/" title="DNSimple Help" class="self-center">
              <img src="/assets/images/dnsimple-logo-dev.svg" class="v-mid" alt="DNSimple Help">
            </a>
          </div>
        </div>
        <div class="dn db-ns self-center w-40 tr">
          <a href="https://dnsimple.com/campaign/support" class="link br2 ph4 pv2 dib white bg-blue hover-white b">Free Trial</a>
        </div>
      </div>
    </div>
  </header>
