<h4 class="sidebar-title">Introduction</h4>
<ul class="nav-list">
  <li><a href="/overview/">Overview</a></li>
  <li><ul class="nav-list">
  <li><a href="/sandbox/">Sandbox</a></li>
  <li><a href="/authentication/">Authentication</a></li>
  </ul></li>
  <li><a href="/libraries/">Libraries</a></li>
  <li><a href="/tools/">Tools</a></li>
</ul>

<h4 class="sidebar-title">Resources</h4>
<ul class="nav-list">
  <li><a href="/domains/">Domains</a></li>
  <li><ul class="nav-list">
  <li><a href="/domains/autorenewal/">Autorenewal</a></li>
  <li><a href="/domains/sharing/">Sharing</a></li>
  <li><a href="/domains/records/">Records</a></li>
  <li><a href="/domains/nameservers/">Name Servers</a></li>
  <li><a href="/domains/vanity-nameservers/">Vanity Name Servers</a></li>
  <li><a href="/domains/privacy/">WHOIS Privacy</a></li>
  <li><a href="/domains/forwards/">Email Forwards</a></li>
  <li><a href="/domains/zones/">Zones</a></li>
  </ul></li>
  <li><a href="/registrar/">Registration</a></li>
  <li><ul class="nav-list">
  <li><a href="/registrar/extended-attributes/">Extended Attributes</a></li>
  <li><a href="/registrar/prices/">Prices</a></li>
  </ul></li>
  <li><a href="/certificates/">SSL Certificates</a></li>
  <li><a href="/contacts/">Contacts</a></li>
  <li><a href="/services/">Services</a></li>
  <li><ul class="nav-list">
  <li><a href="/services/domain/">Domain Services</a></li>
  </ul></li>
  <li><a href="/templates/">Templates</a></li>
  <li><ul class="nav-list">
  <li><a href="/templates/records/">Records</a></li>
  <li><a href="/templates/domain/">Domain Templates</a></li>
  </ul></li>
  <li><a href="/users/">Users</a></li>
  <li><a href="/subscriptions/">Subscriptions</a></li>
  <li><a href="/statements/">Statements</a></li>
</ul>

<div class="sidebar-infobox well">
  Want to make these docs better?
  <a href="https://github.com/aetrion/developer.dnsimple.com">Fork our repo</a>,
  make your changes and <a href="https://github.com/aetrion/developer.dnsimple.com/issues">submit a hug request</a>.
</div>
