<h4 class="sidebar-title">Developer</h4>
<ul class="nav-list">
  <li><a href="/getting-started">Getting started</a></li>
  <li><a href="/sandbox/">Sandbox</a></li>
  <li><a href="/libraries/">Libraries</a></li>
  <li><a href="/tools/">Tools</a></li>
  <li><a href="/use-cases/">Use Cases</a></li>
</ul>

<h4 class="sidebar-title">API v2</h4>
<ul class="nav-list">
  <li><a href="/v2/">Overview</a></li>
  <li><a href="/v2/accounts/">Accounts</a></li>
  <li><a href="/v2/billing-charges/">Billing Charges</a></li>
  <li><a href="/v2/identity/">Identity</a></li>
  <li><a href="/v2/oauth/">OAuth</a></li>
  <li><a href="/v2/domains/">Domains</a></li>
  <li><ul class="nav-list">
    <li><a href="/v2/domains/collaborators/">Collaborators</a></li>
    <li><a href="/v2/domains/dnssec/">DNSSEC</a></li>
    <li><a href="/v2/domains/email-forwards/">Email Forwards</a></li>
    <li><a href="/v2/domains/pushes/">Pushes</a></li>
  </ul></li>
  <li><a href="/v2/certificates/">Certificates</a></li>
  <li><a href="/v2/tlds/">TLDs</a></li>
  <li><a href="/v2/registrar/">Registration</a></li>
  <li><ul class="nav-list">
    <li><a href="/v2/registrar/auto-renewal/">Auto Renewal</a></li>
    <li><a href="/v2/registrar/delegation/">Delegation</a></li>
    <li><a href="/v2/registrar/transfer-lock/">Transfer Lock</a></li>
    <li><a href="/v2/registrar/whois-privacy/">Whois Privacy</a></li>
  </ul></li>
  <li><a href="/v2/zones/">DNS Zones</a></li>
  <li><ul class="nav-list">
    <li><a href="/v2/zones/records/">Records</a></li>
    <li><a href="/v2/zones/ns-records/">NS Records</a></li>
  </ul></li>
  <li><a href="/v2/dns-analytics/">DNS Analytics</a></li>
  <li><a href="/v2/secondary-dns/">Secondary DNS</a></li>
  <li><a href="/v2/contacts/">Contacts</a></li>
  <li><a href="/v2/services/">Services</a></li>
  <li><ul class="nav-list">
    <li><a href="/v2/services/domains/">Domain Services</a></li>
  </ul></li>
  <li><a href="/v2/templates/">Templates</a></li>
  <li><ul class="nav-list">
    <li><a href="/v2/templates/records/">Template Records</a></li>
    <li><a href="/v2/templates/domains/">Domain Templates</a></li>
  </ul></li>
  <li><a href="/v2/vanity/">Vanity Name Servers</a></li>
  <li><a href="/v2/webhooks/webhooks">Webhooks</a></li>
  <li><ul class="nav-list">
    <li><a href="/v2/webhooks/events">Events & Best practices</a></li>
  </ul></li>
</ul>

<div class="surface1 pa3 br2 mr4-ns">
  Want to make these docs better?
  <a href="https://github.com/dnsimple/dnsimple-developer">Fork our repo</a>,
  make your changes and <a href="https://github.com/dnsimple/dnsimple-developer/issues">submit a hug request</a>.
</div>
