openapi: 3.0.3
info:
  title: DNSimple API
  version: 2.0.0
  contact:
    name: DNSimple Support
    email: support@dnsimple.com
    url: 'https://dnsimple.com/contact'
  description: '[DNSimple](https://dnsimple.com) provides DNS hosting and domain registration that is simple and friendly. We provide an extensive API and an easy-to-use web interface so you can get your domain registered and set up with a minimal amount of effort.'
  termsOfService: 'https://dnsimple.com/terms'
externalDocs:
  url: 'https://developer.dnsimple.com'
security:
  - basicAuth: [ ]
  - bearerAuth: [ ]
servers:
  - url: 'https://api.dnsimple.com/v2'
    description: DNSimple Production API
    variables: { }
  - url: 'https://api.sandbox.dnsimple.com/v2'
    description: 'DNSimple Sandbox API used for testing'
tags:
  - name: accounts
  - name: billing
  - name: contacts
  - name: domain certificates
  - name: domain dnssec
  - name: domain emailforwards
  - name: domain pushes
  - name: domain services
  - name: domains
  - name: identity
  - name: registrant changes
  - name: registrar
  - name: registrar delegation
  - name: registrar privacy
  - name: registrar registration
  - name: registrar renewal
  - name: registrar restore
  - name: registrar transfer
  - name: secondary dns
  - name: templates
  - name: tlds
  - name: vanity name servers
  - name: webhooks
  - name: zones
paths:
  /accounts:
    get:
      description: Lists the accounts the current authenticated entity has access to.
      parameters: [ ]
      operationId: listAccounts
      tags:
        - accounts
      responses:
        '200':
          description: Depending on how you are authenticated you will see all the accounts you have access to or the account you used to authenticate.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Account'
      summary: List accounts
  /whoami:
    get:
      description: Retrieves the details about the current authenticated entity used to access the API.
      parameters: [ ]
      operationId: whoami
      tags:
        - identity
      responses:
        '200':
          description: Successful response with user or account.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    oneOf:
                      - type: object
                        required: [account]
                        properties:
                          account:
                            $ref: '#/components/schemas/Account'
                          user:
                            type: object
                            nullable: true
                      - type: object
                        required: [user]
                        properties:
                          user:
                            $ref: '#/components/schemas/User'
                          account:
                            type: object
                            nullable: true
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
        default:
          $ref: '#/components/responses/Error'
      summary: Whoami
  '/{account}/billing/charges':
    get:
      description: Lists the billing charges for the account.
      parameters:
        - $ref: '#/components/parameters/Account'
        - $ref: '#/components/parameters/FilterStartDate'
        - $ref: '#/components/parameters/FilterEndDate'
        - $ref: '#/components/parameters/SortCharges'
      operationId: listCharges
      tags:
        - billing
      summary: List billing charges
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                required: [data, pagination]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Charge'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
          description: Billing charges listing.
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
  '/{account}/domains':
    get:
      description: Lists the domains in the account.
      parameters:
        - $ref: '#/components/parameters/Account'
        - $ref: '#/components/parameters/FilterNameLike'
        - $ref: '#/components/parameters/FilterRegistrantId'
        - $ref: '#/components/parameters/SortDomains'
      operationId: listDomains
      tags:
        - domains
      summary: List domains
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                required: [data, pagination]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Domain'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
          description: Domain listing.
    post:
      summary: Create a domain
      description: |-
        Creates a domain and the corresponding zone into the account.

        When creating a domain using Solo or Teams subscription, the DNS services
        for the zone will be automatically enabled and this will be charged on your
        following subscription renewal invoices.
      parameters:
        - $ref: '#/components/parameters/Account'
      operationId: createDomain
      tags:
        - domains
      requestBody:
        $ref: '#/components/requestBodies/DomainCreate'
      responses:
        '201':
          description: Domain created.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/Domain'
        '400':
          $ref: '#/components/responses/400'
  '/{account}/domains/{domain}':
    get:
      description: Retrieves the details of an existing domain.
      parameters:
        - $ref: '#/components/parameters/Account'
        - $ref: '#/components/parameters/Domain'
      operationId: getDomain
      tags:
        - domains
      responses:
        '200':
          description: Domain retrieved.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/Domain'
        '400':
          $ref: '#/components/responses/400'
        '404':
          $ref: '#/components/responses/404'
      summary: Retrieve a domain
    delete:
      description: Permanently deletes a domain from the account.
      parameters:
        - $ref: '#/components/parameters/Account'
        - $ref: '#/components/parameters/Domain'
      operationId: deleteDomain
      tags:
        - domains
      responses:
        '204':
          description: Domain deleted.
        '400':
          $ref: '#/components/responses/400'
        '404':
          $ref: '#/components/responses/404'
      summary: Delete a domain
  '/{account}/domains/{domain}/dnssec':
    get:
      description: Gets the DNSSEC status for an existing domain.
      parameters:
        - $ref: '#/components/parameters/Account'
        - $ref: '#/components/parameters/Domain'
      operationId: getDomainDnssec
      tags:
        - domain dnssec
      responses:
        '200':
          description: Successfully retrieved DNSSEC
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/DNSSEC'
        '400':
          $ref: '#/components/responses/400'
        '404':
          $ref: '#/components/responses/404'
      summary: DNSSEC status
    post:
      description: |-
        Enables DNSSEC for the domain.

        It will enable signing of the zone. If the domain is registered with DNSimple, it will also add the DS record to the corresponding registry.
      parameters:
        - $ref: '#/components/parameters/Account'
        - $ref: '#/components/parameters/Domain'
      operationId: enableDomainDnssec
      tags:
        - domain dnssec
      responses:
        '201':
          description: Successfully enabled DNSSEC
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/DNSSEC'
        '400':
          $ref: '#/components/responses/400'
        '404':
          $ref: '#/components/responses/404'
      summary: Enable DNSSEC
    delete:
      description: |-
        Disables DNSSEC for the domain.

        It will disable signing of the zone. If the domain is registered with DNSimple, it will also remove the DS record at the registry corresponding to the disabled DNSSEC signing.
      parameters:
        - $ref: '#/components/parameters/Account'
        - $ref: '#/components/parameters/Domain'
      operationId: disableDomainDnssec
      tags:
        - domain dnssec
      responses:
        '204':
          description: Successfully disabled DNSSEC
        '400':
          $ref: '#/components/responses/400'
        '404':
          $ref: '#/components/responses/404'
        '428':
          description: If DNSSEC is not enabled
      summary: Disable DNSSEC
  '/{account}/domains/{domain}/ds_records':
    get:
      description: Lists the DS records for the domain.
      parameters:
        - $ref: '#/components/parameters/Account'
        - $ref: '#/components/parameters/Domain'
        - $ref: '#/components/parameters/SortDelegationSignerRecords'
      operationId: listDomainDelegationSignerRecords
      tags:
        - domain dnssec
      responses:
        '200':
          description: Successfully retrieved delegation signer list
          content:
            application/json:
              schema:
                type: object
                required: [data, pagination]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/DelegationSigner'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '400':
          $ref: '#/components/responses/400'
        '404':
          $ref: '#/components/responses/404'
      summary: List delegation signer records
    post:
      description: Adds a DS record to the domain.
      parameters:
        - $ref: '#/components/parameters/Account'
        - $ref: '#/components/parameters/Domain'
      operationId: createDomainDelegationSignerRecord
      tags:
        - domain dnssec
      requestBody:
        $ref: '#/components/requestBodies/DelegationSignerCreate'
      responses:
        '201':
          description: Successfully added delegation signer record
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/DelegationSigner'
        '400':
          $ref: '#/components/responses/400'
        '404':
          $ref: '#/components/responses/404'
      summary: Create a delegation signer record
  '/{account}/domains/{domain}/ds_records/{ds}':
    get:
      description: Retrieves the details of an existing DS record.
      operationId: getDomainDelegationSignerRecord
      parameters:
        - $ref: '#/components/parameters/Account'
        - $ref: '#/components/parameters/Domain'
        - $ref: '#/components/parameters/DelegationSigner'
      tags:
        - domain dnssec
      responses:
        '200':
          description: Successfully retrieved Delegation Signer record
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/DelegationSigner'
        '400':
          $ref: '#/components/responses/400'
        '404':
          $ref: '#/components/responses/404'
      summary: Retrieve a delegation signer record
    delete:
      description: Removes a DS record from the domain.
      operationId: deleteDomainDelegationSignerRecord
      parameters:
        - $ref: '#/components/parameters/Account'
        - $ref: '#/components/parameters/Domain'
        - $ref: '#/components/parameters/DelegationSigner'
      tags:
        - domain dnssec
      responses:
        '204':
          description: Successfully removed the delegation signer record.
        '400':
          $ref: '#/components/responses/400'
        '404':
          $ref: '#/components/responses/404'
      summary: Delete a delegation signer record
  '/{account}/domains/{domain}/email_forwards':
    get:
      description: Lists email forwards for the domain.
      parameters:
        - $ref: '#/components/parameters/Account'
        - $ref: '#/components/parameters/Domain'
        - $ref: '#/components/parameters/SortEmailForwards'
      operationId: listEmailForwards
      tags:
        - domain emailforwards
      responses:
        '200':
          description: Successfully retrieved email forward list.
          content:
            application/json:
              schema:
                type: object
                required: [data, pagination]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/EmailForward'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '400':
          $ref: '#/components/responses/400'
        '404':
          $ref: '#/components/responses/404'
      summary: List email forwards
    post:
      description: Creates a new email forward for the domain.
      parameters:
        - $ref: '#/components/parameters/Account'
        - $ref: '#/components/parameters/Domain'
      operationId: createEmailForward
      tags:
        - domain emailforwards
      requestBody:
        $ref: '#/components/requestBodies/EmailForwardCreate'
      responses:
        '201':
          description: Successfully created new email forward.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/EmailForward'
        '400':
          $ref: '#/components/responses/400'
        '404':
          $ref: '#/components/responses/404'
      summary: Create an email forward
  '/{account}/domains/{domain}/email_forwards/{emailforward}':
    get:
      description: Retrieves the details of an existing email forward.
      parameters:
        - $ref: '#/components/parameters/Account'
        - $ref: '#/components/parameters/Domain'
        - $ref: '#/components/parameters/EmailForward'
      operationId: getEmailForward
      tags:
        - domain emailforwards
      responses:
        '200':
          description: Successfully retrieved email forward.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/EmailForward'
        '400':
          $ref: '#/components/responses/400'
        '404':
          $ref: '#/components/responses/404'
      summary: Retrieve an email forward
    delete:
      description: Permanently deletes an email forward.
      parameters:
        - $ref: '#/components/parameters/Account'
        - $ref: '#/components/parameters/Domain'
        - $ref: '#/components/parameters/EmailForward'
      operationId: deleteEmailForward
      tags:
        - domain emailforwards
      responses:
        '204':
          description: Successfully deleted email forward.
        '404':
          $ref: '#/components/responses/404'
      summary: Delete an email forward
  '/{account}/domains/{domain}/pushes':
    post:
      description: Initiates a pust of a domain to another DNSimple account.
      parameters:
        - $ref: '#/components/parameters/Account'
        - $ref: '#/components/parameters/Domain'
      operationId: initiateDomainPush
      tags:
        - domain pushes
      requestBody:
        $ref: '#/components/requestBodies/PushInitiate'
      responses:
        '201':
          description: Successfully initiated the push.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/Push'
        '400':
          $ref: '#/components/responses/400'
        '404':
          $ref: '#/components/responses/404'
      summary: Initiate a push
  '/{account}/pushes':
    get:
      description: List pending pushes for the target account.
      parameters:
        - $ref: '#/components/parameters/Account'
      operationId: listPushes
      tags:
        - domain pushes
      responses:
        '200':
          description: Successfully retrieved pushes for the account.
          content:
            application/json:
              schema:
                type: object
                required: [data, pagination]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Push'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
      summary: List pushes
  '/{account}/pushes/{push}':
    post:
      description: Accepts a push to the target account.
      parameters:
        - $ref: '#/components/parameters/Account'
        - $ref: '#/components/parameters/Push'
      operationId: acceptPush
      tags:
        - domain pushes
      requestBody:
        $ref: '#/components/requestBodies/PushAccept'
      responses:
        '204':
          description: Successfully accept a push.
        '400':
          $ref: '#/components/responses/400'
        '404':
          $ref: '#/components/responses/404'
      summary: Accept a push
    delete:
      description: Rejects a push to the target account.
      parameters:
        - $ref: '#/components/parameters/Account'
        - $ref: '#/components/parameters/Push'
      operationId: rejectPush
      tags:
        - domain pushes
      responses:
        '204':
          description: Successfully reject a push.
        '400':
          $ref: '#/components/responses/400'
        '404':
          $ref: '#/components/responses/404'
      summary: Reject a push
  '/{account}/domains/{domain}/certificates':
    get:
      description: Lists the certificates for a domain.
      parameters:
        - $ref: '#/components/parameters/Account'
        - $ref: '#/components/parameters/Domain'
        - $ref: '#/components/parameters/SortCertificates'
      operationId: listCertificates
      tags:
        - domain certificates
      responses:
        '200':
          description: Successfully retrieved certificates for a domain.
          content:
            application/json:
              schema:
                type: object
                required: [data, pagination]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Certificate'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '404':
          $ref: '#/components/responses/404'
      summary: List certificates
  '/{account}/domains/{domain}/certificates/{certificate}':
    get:
      description: Retrieves the details of an existing certificate.
      parameters:
        - $ref: '#/components/parameters/Account'
        - $ref: '#/components/parameters/Domain'
        - $ref: '#/components/parameters/Certificate'
      operationId: getCertificate
      tags:
        - domain certificates
      responses:
        '200':
          description: Successfully retrieved a certificate for a domain.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/Certificate'
        '404':
          $ref: '#/components/responses/404'
      summary: Retrieve a certificate
  '/{account}/domains/{domain}/certificates/{certificate}/download':
    get:
      description: 'Gets the PEM-encoded certificate, along with the root certificate and intermediate chain.'
      parameters:
        - $ref: '#/components/parameters/Account'
        - $ref: '#/components/parameters/Domain'
        - $ref: '#/components/parameters/Certificate'
      operationId: downloadCertificate
      tags:
        - domain certificates
      responses:
        '200':
          description: Successfully retrieved the certificate.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/CertificateDownload'
        '404':
          $ref: '#/components/responses/404'
      summary: Download a certificate
  '/{account}/domains/{domain}/certificates/{certificate}/private_key':
    get:
      description: Gets the PEM-encoded certificate private key.
      parameters:
        - $ref: '#/components/parameters/Account'
        - $ref: '#/components/parameters/Domain'
        - $ref: '#/components/parameters/Certificate'
      operationId: getCertificatePrivateKey
      tags:
        - domain certificates
      responses:
        '200':
          description: Successfully retrieved the private key for an issued certificate.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/CertificatePrivateKey'
        '404':
          $ref: '#/components/responses/404'
      summary: Retrieve a certificate private key
  '/{account}/domains/{domain}/certificates/letsencrypt':
    post:
      description: 'Orders a [Let''s Encrypt](https://dnsimple.com/letsencrypt) certificate with DNSimple.'
      parameters:
        - $ref: '#/components/parameters/Account'
        - $ref: '#/components/parameters/Domain'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                auto_renew:
                  description: 'Enable the auto-renewal of the certificate'
                  type: boolean
                  default: false
                name:
                  description: 'The certificate name'
                  type: string
                  default: 'www'
                alternate_names:
                  description: 'The certificate alternate names'
                  type: array
                  items:
                    type: string
                  default: [ ]
                  example: [ 'docs.example.com', 'status.example.com' ]
                signature_algorithm:
                  description: 'Optional string to determine the signature algorithm to be used. Either `ECDSA` or `RSA`'
                  type: string
                  default: 'ECDSA'
      operationId: purchaseLetsencryptCertificate
      tags:
        - domain certificates
      responses:
        '201':
          description: Successfully created the certificate purchase order.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/LetsencryptCertificatePurchase'
        '404':
          $ref: '#/components/responses/404'
      summary: "Let's Encrypt: Order a certificate"
  '/{account}/domains/{domain}/certificates/letsencrypt/{purchaseId}/issue':
    post:
      description: "Issues a [Let's Encrypt](https://dnsimple.com/letsencrypt) certificate ordered with DNSimple."
      parameters:
        - $ref: '#/components/parameters/Account'
        - $ref: '#/components/parameters/Domain'
        - name: purchaseId
          in: path
          required: true
          description: The certificate purchase order id received by `purchaseLetsencryptCertificate`.
          schema:
            type: integer
      operationId: issueLetsencryptCertificate
      tags:
        - domain certificates
      responses:
        '202':
          description: Successfully requested the issuance of the certificate.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/Certificate'
        '404':
          $ref: '#/components/responses/404'
      summary: "Let's Encrypt: Issue a certificate"
  '/{account}/domains/{domain}/certificates/letsencrypt/{certificate}/renewals':
    post:
      description: "Renews a [Let's Encrypt](https://dnsimple.com/letsencrypt) certificate ordered with DNSimple."
      parameters:
        - $ref: '#/components/parameters/Account'
        - $ref: '#/components/parameters/Domain'
        - $ref: '#/components/parameters/Certificate'
      operationId: purchaseRenewalLetsencryptCertificate
      tags:
        - domain certificates
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                auto_renew:
                  description: 'Enable the auto-renewal of the certificate'
                  type: boolean
                  default: false
                signature_algorithm:
                  description: 'Optional string to determine the signature algorithm to be used. Either `ECDSA` or `RSA`'
                  type: string
                  default: 'ECDSA'
      responses:
        '201':
          description: Successfully created the certificate renewal order.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/LetsencryptCertificateRenewal'
        '404':
          $ref: '#/components/responses/404'
      summary: "Let's Encrypt: Order a certificate renewal"
  '/{account}/domains/{domain}/certificates/letsencrypt/{certificate}/renewals/{renewalId}/issue':
    post:
      description: "Issues a [Let's Encrypt](https://dnsimple.com/letsencrypt) certificate renewal ordered with DNSimple."
      parameters:
        - $ref: '#/components/parameters/Account'
        - $ref: '#/components/parameters/Domain'
        - $ref: '#/components/parameters/Certificate'
        - name: renewalId
          in: path
          required: true
          description: The certificate renewal order id received by `purchaseRenewalLetsencryptCertificate`.
          schema:
            type: integer
      operationId: issueRenewalLetsencryptCertificate
      tags:
        - domain certificates
      responses:
        '202':
          description: Successfully requested the issuance of the certificate renewal.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/Certificate'
        '404':
          $ref: '#/components/responses/404'
      summary: "Let's Encrypt: Issue a certificate renewal"
  /tlds:
    get:
      description: Lists TLDs supported for registration or transfer.
      parameters:
        - $ref: '#/components/parameters/SortTLDs'
      operationId: listTlds
      tags:
        - tlds
      responses:
        '200':
          description: Successfully retrieved the TLDs.
          content:
            application/json:
              schema:
                type: object
                required: [data, pagination]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/TLD'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
      summary: List TLDs
  '/tlds/{tld}':
    get:
      description: Retrieves the details of a TLD.
      parameters:
        - $ref: '#/components/parameters/TLD'
      operationId: getTld
      tags:
        - tlds
      responses:
        '200':
          description: Successfully retrieved the TLD details.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/TLD'
        '404':
          $ref: '#/components/responses/404'
      summary: Retrieve the TLD
  '/tlds/{tld}/extended_attributes':
    get:
      description: |-
        Lists a TLD extended attributes.

        Some TLDs require extended attributes when registering or transferring a domain. This API interface provides information on the extended attributes for any particular TLD. Extended attributes are extra TLD-specific attributes, required by the TLD registry to collect extra information about the registrant or legal agreements.
      parameters:
        - $ref: '#/components/parameters/TLD'
      operationId: getTldExtendedAttributes
      tags:
        - tlds
      responses:
        '200':
          description: Successfully retrieved the extended attributes for the TLD.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ExtendedAttribute'
        '404':
          $ref: '#/components/responses/404'
      summary: List TLD extended attributes
  '/{account}/registrar/domains/{domain}/check':
    get:
      description: Checks a domain name for availability.
      parameters:
        - $ref: '#/components/parameters/Account'
        - $ref: '#/components/parameters/Domain'
      operationId: checkDomain
      tags:
        - registrar
      responses:
        '200':
          description: 'The check was successfully executed. Check the result data to determine if it is available for registration. If the domain is premium, please check the premium price before trying to register, renew, transfer.'
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/DomainCheckResult'
      summary: Check domain
  '/{account}/registrar/domains/{domain}/premium_price':
    get:
      deprecated: true
      description: |-
        Deprecated in favor of getDomainPrices.

        Retrieves the premium price for a premium domain.

        Please note that a premium price can be different for registration, renewal, transfer. By default this endpoint returns the premium price for registration. If you need to check a different price, you should specify it with the action param.
      parameters:
        - $ref: '#/components/parameters/Account'
        - $ref: '#/components/parameters/Domain'
        - $ref: '#/components/parameters/DomainPremiumPriceAction'
      operationId: getDomainPremiumPrice
      tags:
        - registrar
      responses:
        '200':
          description: Successfully retrieved the premium price
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/DomainPremiumPrice'
        '400':
          $ref: '#/components/responses/400'
      summary: Get domain premium price
  '/{account}/registrar/domains/{domain}/prices':
    get:
      description: Retrieve domain prices.
      summary: Get prices for a domain
      parameters:
        - $ref: '#/components/parameters/Account'
        - $ref: '#/components/parameters/Domain'
      operationId: getDomainPrices
      tags:
        - registrar
      responses:
        '200':
          description: Successfully retrieved the domain pricing data
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/DomainPrices'
        '400':
          $ref: '#/components/responses/400'
  '/{account}/registrar/domains/{domain}/registrations':
    post:
      description: |-
        Registers a domain name.

        Your account must be active for this command to complete successfully. You will be automatically charged the registration fee upon successful registration, so please be careful with this command.

        When registering a domain using Solo or Teams subscription, the DNS services
        for the zone will be automatically enabled and this will be charged on your
        following subscription renewal invoices.
      parameters:
        - $ref: '#/components/parameters/Account'
        - $ref: '#/components/parameters/Domain'
      operationId: registerDomain
      tags:
        - registrar
      requestBody:
        $ref: '#/components/requestBodies/DomainRegister'
      responses:
        '201':
          description: Domain successfully registered
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/DomainRegistration'
        '400':
          $ref: '#/components/responses/400'
      summary: Register a domain
  '/{account}/registrar/domains/{domain}/registrations/{domainregistration}':
    get:
      description: Retrieves the details of an existing domain registration.
      summary: Retrieve a domain registration
      parameters:
        - $ref: '#/components/parameters/Account'
        - $ref: '#/components/parameters/Domain'
        - $ref: '#/components/parameters/DomainRegistration'
      operationId: getDomainRegistration
      tags:
        - registrar registration
      responses:
        '200':
          description: Domain registration details.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/DomainRegistration'
        '404':
          $ref: '#/components/responses/404'
  '/{account}/registrar/domains/{domain}/transfers':
    post:
      description: |-
        Transfers a domain name from another registrar.

        Your account must be active for this command to complete successfully. You will be automatically charged the 1-year transfer fee upon successful transfer, so please be careful with this command. The transfer may take anywhere from a few minutes up to 7 days.

        When transfering a domain using Solo or Teams subscription, the DNS services
        for the zone will be automatically enabled and this will be charged on your
        following subscription renewal invoices.
      parameters:
        - $ref: '#/components/parameters/Account'
        - $ref: '#/components/parameters/Domain'
      operationId: transferDomain
      tags:
        - registrar
      requestBody:
        $ref: '#/components/requestBodies/DomainTransfer'
      responses:
        '201':
          description: Domain transfer created.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/DomainTransfer'
        '400':
          $ref: '#/components/responses/400'
      summary: Transfer a domain
  '/{account}/registrar/domains/{domain}/transfers/{domaintransfer}':
    get:
      description: Retrieves the details of an existing domain transfer.
      summary: Retrieve a domain transfer
      parameters:
        - $ref: '#/components/parameters/Account'
        - $ref: '#/components/parameters/Domain'
        - $ref: '#/components/parameters/DomainTransfer'
      operationId: getDomainTransfer
      tags:
        - registrar transfer
      responses:
        '200':
          description: Domain transfer details.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/DomainTransfer'
        '404':
          $ref: '#/components/responses/404'
    delete:
      description: Cancels an in progress domain transfer.
      summary: Cancel a domain transfer
      parameters:
        - $ref: '#/components/parameters/Account'
        - $ref: '#/components/parameters/Domain'
        - $ref: '#/components/parameters/DomainTransfer'
      operationId: cancelDomainTransfer
      tags:
        - registrar transfer
      responses:
        '202':
          description: Domain transfer cancellation accepted and queued for processing.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/DomainTransfer'
        '404':
          $ref: '#/components/responses/404'
  '/{account}/registrar/domains/{domain}/renewals':
    post:
      description: |-
        Explicitly renews a domain, if the registry supports this function.

        Your account must be active for this command to complete successfully. You will be automatically charged the renewal fee upon successful renewal, so please be careful with this command.
      parameters:
        - $ref: '#/components/parameters/Account'
        - $ref: '#/components/parameters/Domain'
      operationId: domainRenew
      tags:
        - registrar renewal
      requestBody:
        $ref: '#/components/requestBodies/DomainRenew'
      responses:
        '201':
          description: Domain renewal created
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/DomainRenewal'
        '400':
          $ref: '#/components/responses/400'
      summary: Renew a domain
  '/{account}/registrar/domains/{domain}/renewals/{domainrenewal}':
    get:
      description: Retrieves the details of an existing domain renewal.
      summary: Retrieve a domain renewal
      parameters:
        - $ref: '#/components/parameters/Account'
        - $ref: '#/components/parameters/Domain'
        - $ref: '#/components/parameters/DomainRenewal'
      operationId: getDomainRenewal
      tags:
        - registrar renewal
      responses:
        '200':
          description: Domain renewal details.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/DomainRenewal'
        '404':
          $ref: '#/components/responses/404'
  '/{account}/registrar/domains/{domain}/restores':
    post:
      description: |-
        Explicitly restores an domain that can not be renewed anymore, if the registry supports this function.

        Your account must be active for this command to complete successfully. You will be automatically charged the restore fee upon successful restore, so please be careful with this command.
      parameters:
        - $ref: '#/components/parameters/Account'
        - $ref: '#/components/parameters/Domain'
      operationId: domainRestore
      tags:
        - registrar restore
      requestBody:
        $ref: '#/components/requestBodies/DomainRestore'
      responses:
        '201':
          description: Domain restore created
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/DomainRestore'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
      summary: Restore a domain
  '/{account}/registrar/domains/{domain}/restores/{domainrestore}':
    get:
      description: Retrieves the details of an existing domain restore.
      summary: Retrieve a domain restore
      parameters:
        - $ref: '#/components/parameters/Account'
        - $ref: '#/components/parameters/Domain'
        - $ref: '#/components/parameters/DomainRestore'
      operationId: getDomainRestore
      tags:
        - registrar restore
      responses:
        '200':
          description: Domain restore details.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/DomainRestore'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
  '/{account}/registrar/domains/{domain}/authorize_transfer_out':
    post:
      description: |-
        Prepares a domain for transferring out.

        This will unlock a domain and send the authorization code to the domain's administrative contact.
      parameters:
        - $ref: '#/components/parameters/Account'
        - $ref: '#/components/parameters/Domain'
      operationId: authorizeDomainTransferOut
      tags:
        - registrar
      responses:
        '204':
          description: Domain prepared for transfer out.
        '400':
          $ref: '#/components/responses/400'
      summary: Authorize a domain transfer out
  '/{account}/registrar/domains/{domain}/delegation':
    get:
      description: Lists the name servers for the domain.
      parameters:
        - $ref: '#/components/parameters/Account'
        - $ref: '#/components/parameters/Domain'
      operationId: getDomainDelegation
      tags:
        - registrar delegation
      responses:
        '200':
          description: Successfully retrieved the domain name servers.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/DomainNameServer'
        '404':
          $ref: '#/components/responses/404'
      summary: List domain name servers
    put:
      description: Changes the domain name servers.
      parameters:
        - $ref: '#/components/parameters/Account'
        - $ref: '#/components/parameters/Domain'
      operationId: changeDomainDelegation
      tags:
        - registrar delegation
      requestBody:
        $ref: '#/components/requestBodies/DomainNameServers'
      responses:
        '200':
          description: Successfully updated the domain name servers.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/DomainNameServer'
        '400':
          $ref: '#/components/responses/400'
        '404':
          $ref: '#/components/responses/404'
      summary: Change domain name servers
  '/{account}/registrar/domains/{domain}/delegation/vanity':
    put:
      description: Delegate a domain to vanity name servers.
      parameters:
        - $ref: '#/components/parameters/Account'
        - $ref: '#/components/parameters/Domain'
      operationId: changeDomainDelegationToVanity
      tags:
        - registrar delegation
      requestBody:
        $ref: '#/components/requestBodies/VanityNameServers'
      responses:
        '200':
          description: Successfully delegated to vanity name servers.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/NameServer'
        '400':
          $ref: '#/components/responses/400'
        '404':
          $ref: '#/components/responses/404'
        '412':
          $ref: '#/components/responses/412-feature'
      summary: Delegate to vanity name servers
    delete:
      description: De-delegate a domain from vanity name servers.
      parameters:
        - $ref: '#/components/parameters/Account'
        - $ref: '#/components/parameters/Domain'
      operationId: changeDomainDelegationFromVanity
      tags:
        - registrar delegation
      responses:
        '204':
          description: Successfully de-delegated from vanity name servers.
        '400':
          $ref: '#/components/responses/400'
        '404':
          $ref: '#/components/responses/404'
        '412':
          $ref: '#/components/responses/412-feature'
      summary: De-delegate from vanity name servers
  '/{account}/registrar/domains/{domain}/transfer_lock':
    get:
      description: Gets the transfer lock status for a domain.
      parameters:
        - $ref: '#/components/parameters/Account'
        - $ref: '#/components/parameters/Domain'
      operationId: getDomainTransferLock
      tags:
        - registrar transfer
      responses:
        '200':
          description: Successfully retrieved transfer lock details.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/DomainTransferLock'
        '404':
          $ref: '#/components/responses/404'
      summary: Domain transfer lock status
    post:
      description: Locks the domain to prevent unauthorized transfers.
      parameters:
        - $ref: '#/components/parameters/Account'
        - $ref: '#/components/parameters/Domain'
      operationId: enableDomainTransferLock
      tags:
        - registrar transfer
      responses:
        '201':
          description: Successfully locked the domain.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/DomainTransferLock'
        '400':
          $ref: '#/components/responses/400'
        '404':
          $ref: '#/components/responses/404'
      summary: Enable domain transfer lock
    delete:
      description: Unlocks the domain to allow domain transfers.
      parameters:
        - $ref: '#/components/parameters/Account'
        - $ref: '#/components/parameters/Domain'
      operationId: disableDomainTransferLock
      tags:
        - registrar transfer
      responses:
        '200':
          description: Successfully unlocked the domain.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/DomainTransferLock'
        '400':
          $ref: '#/components/responses/400'
        '404':
          $ref: '#/components/responses/404'
      summary: Disable domain transfer lock
  '/{account}/registrar/domains/{domain}/auto_renewal':
    put:
      description: Enables auto renewal for the domain.
      parameters:
        - $ref: '#/components/parameters/Account'
        - $ref: '#/components/parameters/Domain'
      operationId: enableDomainAutoRenewal
      tags:
        - registrar renewal
      responses:
        '204':
          description: Successfully enabled auto-renewal.
        '400':
          $ref: '#/components/responses/400'
        '404':
          $ref: '#/components/responses/404'
      summary: Enable domain auto-renewal
    delete:
      description: Disables auto renewal for the domain.
      parameters:
        - $ref: '#/components/parameters/Account'
        - $ref: '#/components/parameters/Domain'
      operationId: disableDomainAutoRenewal
      tags:
        - registrar renewal
      responses:
        '204':
          description: Successfully disabled auto-renewal.
        '400':
          $ref: '#/components/responses/400'
        '404':
          $ref: '#/components/responses/404'
      summary: Disable domain auto-renewal
  '/{account}/registrar/domains/{domain}/whois_privacy':
    get:
      description: Gets the whois privacy status for an existing domain.
      parameters:
        - $ref: '#/components/parameters/Account'
        - $ref: '#/components/parameters/Domain'
      operationId: getWhoisPrivacy
      tags:
        - registrar privacy
      responses:
        '200':
          description: Successfully retrieved whois privacy details.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/WhoisPrivacy'
        '404':
          $ref: '#/components/responses/404'
      summary: WHOIS privacy status
    put:
      description: |-
        Enables the WHOIS privacy for the domain.

        Note that if the WHOIS privacy is not purchased for the domain, enabling WHOIS privacy will cause the service to be purchased for a period of 1 year. If WHOIS privacy was previously purchased and disabled, then calling this will enable the WHOIS privacy.
      parameters:
        - $ref: '#/components/parameters/Account'
        - $ref: '#/components/parameters/Domain'
      operationId: enableWhoisPrivacy
      tags:
        - registrar privacy
      responses:
        '200':
          description: Successfully enabled whois privacy.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/WhoisPrivacy'
        '201':
          description: Successfully purchased and enabled whois privacy.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/WhoisPrivacy'
        '404':
          $ref: '#/components/responses/404'
      summary: Enable WHOIS privacy
    delete:
      description: Disables the WHOIS privacy for the domain.
      parameters:
        - $ref: '#/components/parameters/Account'
        - $ref: '#/components/parameters/Domain'
      operationId: disableWhoisPrivacy
      tags:
        - registrar privacy
      responses:
        '200':
          description: Successfully disabled whois privacy.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/WhoisPrivacy'
        '404':
          $ref: '#/components/responses/404'
      summary: Disable WHOIS privacy
  '/{account}/registrar/domains/{domain}/whois_privacy/renewals':
    post:
      description: |-
        Renews the WHOIS privacy for the domain.

        Note that if the WHOIS privacy was never purchased for the domain or if there is another renewal order in progress, renewing WHOIS privacy will return an error.
      parameters:
        - $ref: '#/components/parameters/Account'
        - $ref: '#/components/parameters/Domain'
      operationId: renewWhoisPrivacy
      tags:
        - registrar privacy
      responses:
        '201':
          description: Successfully renew whois privacy.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/WhoisPrivacyRenewal'
        '400':
          $ref: '#/components/responses/400'
        '404':
          $ref: '#/components/responses/404'
      summary: Renew WHOIS privacy
  '/{account}/secondary_dns/primaries':
    get:
      summary: List primary servers
      description: List the primary servers in the account.
      parameters:
        - $ref: '#/components/parameters/Account'
        - $ref: '#/components/parameters/SortPrimaryServers'
      operationId: listPrimaryServers
      tags:
        - secondary dns
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                required: [data, pagination]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PrimaryServer'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
          description: Primary Server listing.
    post:
      summary: Create a primary server
      description: Creates a primary server into the account.
      parameters:
        - $ref: '#/components/parameters/Account'
      operationId: createPrimaryServer
      tags:
        - secondary dns
      requestBody:
        $ref: '#/components/requestBodies/PrimaryServerCreate'
      responses:
        '201':
          description: Primary Server created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/PrimaryServer'
        '400':
          $ref: '#/components/responses/400'
  '/{account}/secondary_dns/primaries/{primaryserver}':
    get:
      description: Retrieves the details of an existing primary server.
      parameters:
        - $ref: '#/components/parameters/Account'
        - $ref: '#/components/parameters/PrimaryServer'
      operationId: getPrimaryServer
      tags:
        - secondary dns
      responses:
        '200':
          description: Primary Server retrieved.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/PrimaryServer'
        '400':
          $ref: '#/components/responses/400'
        '404':
          $ref: '#/components/responses/404'
      summary: Retrieve a primary server
    delete:
      description: Permanently deletes a primary server.
      parameters:
        - $ref: '#/components/parameters/Account'
        - $ref: '#/components/parameters/PrimaryServer'
      operationId: removePrimaryServer
      tags:
        - secondary dns
      responses:
        '204':
          description: Successfully deleted primary server.
        '404':
          $ref: '#/components/responses/404'
      summary: Delete a primary server
  '/{account}/secondary_dns/primaries/{primaryserver}/link':
    put:
      description: Link the primary server to a secondary zone.
      parameters:
        - $ref: '#/components/parameters/Account'
        - $ref: '#/components/parameters/PrimaryServer'
      operationId: linkPrimaryServer
      tags:
        - secondary dns
      responses:
        '200':
          description: Primary Server linked.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/PrimaryServer'
        '400':
          $ref: '#/components/responses/400'
        '404':
          $ref: '#/components/responses/404'
      summary: Link a primary server to a secondary zone

  '/{account}/secondary_dns/primaries/{primaryserver}/unlink':
    put:
      description: Unlink the primary server from a secondary zone.
      parameters:
        - $ref: '#/components/parameters/Account'
        - $ref: '#/components/parameters/PrimaryServer'
      operationId: unlinkPrimaryServer
      tags:
        - secondary dns
      responses:
        '200':
          description: Primary Server unlinked.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/PrimaryServer'
        '400':
          $ref: '#/components/responses/400'
        '404':
          $ref: '#/components/responses/404'
      summary: Unlink a primary server from a secondary zone

  '/{account}/secondary_dns/zones':
    post:
      summary: Create a secondary zone
      description: |-
        Creates a secondary zone into the account.

        When creating a secondary zone using Solo or Teams subscription, the DNS
        services for the zone will be automatically enabled and this will be charged
        on your following subscription renewal invoices.
      parameters:
        - $ref: '#/components/parameters/Account'
      operationId: createSecondaryZone
      tags:
        - secondary dns
      requestBody:
        $ref: '#/components/requestBodies/SecondaryZoneCreate'
      responses:
        '201':
          description: Secondary Zone created.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/Zone'
        '400':
          $ref: '#/components/responses/400'
  '/{account}/zones':
    get:
      description: Lists the zones in the account.
      parameters:
        - $ref: '#/components/parameters/Account'
        - $ref: '#/components/parameters/FilterNameLike'
        - $ref: '#/components/parameters/SortZones'
      operationId: listZones
      tags:
        - zones
      responses:
        '200':
          description: Successfully retrieved account zone list.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Zone'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
      summary: List zones
  '/{account}/zones/{zone}':
    get:
      description: Retrieves the details of an existing zone.
      parameters:
        - $ref: '#/components/parameters/Account'
        - $ref: '#/components/parameters/Zone'
      operationId: getZone
      tags:
        - zones
      responses:
        '200':
          description: Successfully retrieved zone.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Zone'
        '404':
          $ref: '#/components/responses/404'
      summary: Retrieve a zone
  '/{account}/zones/{zone}/file':
    get:
      description: Download the zonefile for an existing zone.
      parameters:
        - $ref: '#/components/parameters/Account'
        - $ref: '#/components/parameters/Zone'
      operationId: getZoneFile
      tags:
        - zones
      responses:
        '200':
          description: Successfully retrieved zone file.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/ZoneFile'
        '404':
          $ref: '#/components/responses/404'
      summary: Download a zone file
  '/{account}/zones/{zone}/distribution':
    get:
      description: Checks if a zone is fully distributed to all our name servers across the globe.
      parameters:
        - $ref: '#/components/parameters/Account'
        - $ref: '#/components/parameters/Zone'
      operationId: checkZoneDistribution
      tags:
        - zones
      responses:
        '200':
          description: Successfully checked zone distribution.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/ZoneDistribution'
        '404':
          $ref: '#/components/responses/404'
        '504':
          description: The server failed to perform the check.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      summary: Check zone distribution
  '/{account}/zones/{zone}/ns_records':
    put:
      description: Updates the zone's NS records
      parameters:
        - $ref: '#/components/parameters/Account'
        - $ref: '#/components/parameters/Zone'
      requestBody:
        $ref: '#/components/requestBodies/ZoneNsRecordsUpdate'
      operationId: updateZoneNsRecords
      tags:
        - zones
      responses:
        '200':
          description: Successfully updated the zone name servers.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ZoneRecord'
        '404':
          $ref: '#/components/responses/404'
      summary: Update a zone's NS records
  '/{account}/zones/{zone}/records':
    get:
      description: Lists the records for a zone.
      parameters:
        - $ref: '#/components/parameters/Account'
        - $ref: '#/components/parameters/Zone'
        - $ref: '#/components/parameters/FilterNameLike'
        - $ref: '#/components/parameters/FilterName'
        - $ref: '#/components/parameters/FilterType'
        - $ref: '#/components/parameters/SortZoneRecords'
      operationId: listZoneRecords
      tags:
        - zones
      responses:
        '200':
          description: Successfully retrieved zone records list.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ZoneRecord'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
      summary: List zone records
    post:
      description: Creates a new zone record.
      parameters:
        - $ref: '#/components/parameters/Account'
        - $ref: '#/components/parameters/Zone'
      operationId: createZoneRecord
      tags:
        - zones
      requestBody:
        $ref: '#/components/requestBodies/ZoneRecordCreate'
      responses:
        '201':
          description: Successfully created zone record.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/ZoneRecord'
        '400':
          $ref: '#/components/responses/400'
        '404':
          $ref: '#/components/responses/404'
      summary: Create a zone record
  '/{account}/zones/{zone}/records/{zonerecord}':
    get:
      description: Retrieves the details of an existing zone record.
      parameters:
        - $ref: '#/components/parameters/Account'
        - $ref: '#/components/parameters/Zone'
        - $ref: '#/components/parameters/ZoneRecord'
      operationId: getZoneRecord
      tags:
        - zones
      responses:
        '200':
          description: Successfully get zone record.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/ZoneRecord'
        '404':
          $ref: '#/components/responses/404'
      summary: Retrieve a zone record
    patch:
      description: Updates the zone record details.
      parameters:
        - $ref: '#/components/parameters/Account'
        - $ref: '#/components/parameters/Zone'
        - $ref: '#/components/parameters/ZoneRecord'
      operationId: updateZoneRecord
      tags:
        - zones
      requestBody:
        $ref: '#/components/requestBodies/ZoneRecordUpdate'
      responses:
        '200':
          description: Successfully updated zone record.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/ZoneRecord'
        '400':
          $ref: '#/components/responses/400'
        '404':
          $ref: '#/components/responses/404'
      summary: Update a zone record
    delete:
      description: Permanently deletes a zone record.
      parameters:
        - $ref: '#/components/parameters/Account'
        - $ref: '#/components/parameters/Zone'
        - $ref: '#/components/parameters/ZoneRecord'
      operationId: deleteZoneRecord
      tags:
        - zones
      requestBody:
        $ref: '#/components/requestBodies/ZoneRecordDelete'
      responses:
        '204':
          description: Successfully deleted zone record.
        '404':
          $ref: '#/components/responses/404'
      summary: Delete a zone record
  '/{account}/zones/{zone}/records/{zonerecord}/distribution':
    get:
      description: Checks if a zone record is fully distributed to all our name servers across the globe.
      parameters:
        - $ref: '#/components/parameters/Account'
        - $ref: '#/components/parameters/Zone'
        - $ref: '#/components/parameters/ZoneRecord'
      operationId: checkZoneRecordDistribution
      tags:
        - zones
      responses:
        '200':
          description: Successfully checked zone record distribution.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/ZoneDistribution'
        '404':
          $ref: '#/components/responses/404'
        '504':
          description: The server failed to perform the check.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      summary: Check zone record distribution
  '/{account}/zones/{zone}/activation':
    put:
      description: |-
        Activate DNS services for the zone.

        Under Solo and Teams plans, active zones are charged when renewing your subscription to
        DNSimple
      parameters:
        - $ref: '#/components/parameters/Account'
        - $ref: '#/components/parameters/Zone'
      operationId: activateZoneService
      tags:
        - zones
      responses:
        '200':
          description: Successful activation of DNS services on the zone.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Zone'
        '404':
          $ref: '#/components/responses/404'
      summary: Activate a zone DNS service
    delete:
      description: |-
        Deactivates DNS services for the zone.

        Under Solo and Teams plans, active zones are charged when renewing your subscription to
        DNSimple
      parameters:
        - $ref: '#/components/parameters/Account'
        - $ref: '#/components/parameters/Zone'
      operationId: deactivateZoneService
      tags:
        - zones
      responses:
        '200':
          description: Successfully deactivate DNS services on the zone.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Zone'
        '404':
          $ref: '#/components/responses/404'
      summary: Deactivate a zone DNS service
  '/{account}/contacts':
    get:
      description: List contacts in the account.
      parameters:
        - $ref: '#/components/parameters/Account'
        - $ref: '#/components/parameters/SortContacts'
      operationId: listContacts
      tags:
        - contacts
      responses:
        '200':
          description: Successfully retrieved account contact list.
          content:
            application/json:
              schema:
                type: object
                required: [data, pagination]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Contact'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
      summary: List contacts
    post:
      description: Creates a contact.
      parameters:
        - $ref: '#/components/parameters/Account'
      operationId: createContact
      tags:
        - contacts
      requestBody:
        $ref: '#/components/requestBodies/ContactCreate'
      responses:
        '201':
          description: Successfully created contact.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/Contact'
        '400':
          $ref: '#/components/responses/400'
      summary: Create a contact
  '/{account}/contacts/{contact}':
    get:
      description: Retrieves the details of an existing contact.
      parameters:
        - $ref: '#/components/parameters/Account'
        - $ref: '#/components/parameters/Contact'
      operationId: getContact
      tags:
        - contacts
      responses:
        '200':
          description: Successfully retrieved the contact.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Contact'
        '404':
          $ref: '#/components/responses/404'
      summary: Retrieve a contact
    patch:
      description: Updates the contact details.
      parameters:
        - $ref: '#/components/parameters/Account'
        - $ref: '#/components/parameters/Contact'
      operationId: updateContact
      tags:
        - contacts
      requestBody:
        $ref: '#/components/requestBodies/ContactCreateOrUpdate'
      responses:
        '200':
          description: Successfully updated contact.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Contact'
        '400':
          $ref: '#/components/responses/400'
        '404':
          $ref: '#/components/responses/404'
      summary: Update a contact
    delete:
      description: Permanently deletes a contact from the account.
      parameters:
        - $ref: '#/components/parameters/Account'
        - $ref: '#/components/parameters/Contact'
      operationId: deleteContact
      tags:
        - contacts
      responses:
        '204':
          description: Successfully deleted contact.
        '404':
          $ref: '#/components/responses/404'
      summary: Delete a contact
  '/{account}/registrar/registrant_changes':
    get:
      description: List registrant changes in the account.
      parameters:
        - $ref: '#/components/parameters/Account'
        - $ref: '#/components/parameters/SortRegistrantChanges'
        - $ref: '#/components/parameters/FilterRegistrantChangeState'
        - $ref: '#/components/parameters/FilterDomainId'
        - $ref: '#/components/parameters/FilterContactId'
      operationId: listRegistrantChanges
      tags:
        - registrant changes
      responses:
        '200':
          description: Successfully retrieved registrant change list.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/RegistrantChange'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '400':
          $ref: '#/components/responses/400'
      summary: List registrant changes
    post:
      description: Start registrant change.
      parameters:
        - $ref: '#/components/parameters/Account'
      operationId: createRegistrantChange
      tags:
        - registrant changes
      requestBody:
        $ref: '#/components/requestBodies/RegistrantChangeCreate'
      responses:
        '201':
          description: Successfully changed the contact.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/RegistrantChange'
        '202':
          description: The contact change has started and pending completion.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/RegistrantChange'
        '400':
          $ref: '#/components/responses/400'
      summary: Start registrant change
  '/{account}/registrar/registrant_changes/check':
    post:
      description: Retrieves the requirements of a registrant change.
      parameters:
        - $ref: '#/components/parameters/Account'
      operationId: checkRegistrantChange
      tags:
        - registrant changes
      requestBody:
        $ref: '#/components/requestBodies/RegistrantChangeCheck'
      responses:
        '200':
          description: Successfully returned the registrant change requirements.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/RegistrantChangeCheck'
        '400':
          $ref: '#/components/responses/400'
      summary: Check registrant change requirements
  '/{account}/registrar/registrant_changes/{registrantchange}':
    get:
      description: Retrieves the details of an existing registrant change.
      parameters:
        - $ref: '#/components/parameters/Account'
        - $ref: '#/components/parameters/RegistrantChange'
      operationId: getRegistrantChange
      tags:
        - registrant changes
      responses:
        '200':
          description: Successfully retrieved the registrant change.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/RegistrantChange'
        '404':
          $ref: '#/components/responses/404'
      summary: Retrieve a registrant change
    delete:
      description: Cancel an ongoing registrant change from the account.
      parameters:
        - $ref: '#/components/parameters/Account'
        - $ref: '#/components/parameters/RegistrantChange'
      operationId: deleteRegistrantChange
      tags:
        - registrant changes
      responses:
        '204':
          description: Successfully cancelled registrant change.
        '202':
          description: The registrant change is cancelling.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/RegistrantChange'
        '400':
          $ref: '#/components/responses/400'
        '404':
          $ref: '#/components/responses/404'
      summary: Cancel a registrant change
  /services:
    get:
      description: List all available one-click services.
      parameters:
        - $ref: '#/components/parameters/SortServices'
      operationId: listServices
      tags:
        - domain services
      responses:
        '200':
          description: Successfully retrieved service list.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Service'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
      summary: List services
  '/services/{service}':
    get:
      description: Retrieves the details of a one-click service.
      parameters:
        - $ref: '#/components/parameters/Service'
      operationId: getService
      tags:
        - domain services
      responses:
        '200':
          description: Successfully retrieved service.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Service'
        '404':
          $ref: '#/components/responses/404'
      summary: Retrieve a service
  '/{account}/domains/{domain}/services':
    get:
      description: List services applied to a domain.
      parameters:
        - $ref: '#/components/parameters/Account'
        - $ref: '#/components/parameters/Domain'
      operationId: listDomainAppliedServices
      tags:
        - domain services
      responses:
        '200':
          description: Successfully retrieved list of applied services.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Service'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '404':
          $ref: '#/components/responses/404'
      summary: List applied services
  '/{account}/domains/{domain}/services/{service}':
    post:
      description: Applies a service to a domain.
      parameters:
        - $ref: '#/components/parameters/Account'
        - $ref: '#/components/parameters/Domain'
        - $ref: '#/components/parameters/Service'
      operationId: applyServiceToDomain
      tags:
        - domain services
      requestBody:
        $ref: '#/components/requestBodies/ServiceApply'
      responses:
        '204':
          description: Successfully applied a service to a domain.
        '400':
          $ref: '#/components/responses/400'
        '404':
          $ref: '#/components/responses/404'
      summary: Apply a service
    delete:
      description: Unapplies a service from a domain.
      parameters:
        - $ref: '#/components/parameters/Account'
        - $ref: '#/components/parameters/Domain'
        - $ref: '#/components/parameters/Service'
      operationId: unapplyServiceFromDomain
      tags:
        - domain services
      responses:
        '204':
          description: Successfully unapplied a service to a domain.
        '400':
          $ref: '#/components/responses/400'
        '404':
          $ref: '#/components/responses/404'
      summary: Unapply a service
  '/{account}/templates':
    get:
      description: Lists the templates in the account.
      parameters:
        - $ref: '#/components/parameters/Account'
        - $ref: '#/components/parameters/SortTemplates'
      operationId: listTemplates
      tags:
        - templates
      responses:
        '200':
          description: Successfully retrieved account template list.
          content:
            application/json:
              schema:
                type: object
                required: [data, pagination]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Template'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
      summary: List templates
    post:
      description: Creates a template.
      parameters:
        - $ref: '#/components/parameters/Account'
      operationId: createTemplate
      tags:
        - templates
      requestBody:
        $ref: '#/components/requestBodies/TemplateCreate'
      responses:
        '201':
          description: Successfully created a template.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/Template'
        '400':
          $ref: '#/components/responses/400'
      summary: Create a template
  '/{account}/templates/{template}':
    get:
      description: Retrieves the details of an existing template.
      parameters:
        - $ref: '#/components/parameters/Account'
        - $ref: '#/components/parameters/Template'
      operationId: getTemplate
      tags:
        - templates
      responses:
        '200':
          description: Successfully retrieved a template.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/Template'
        '404':
          $ref: '#/components/responses/404'
      summary: Retrieve a template
    patch:
      description: Updates the template details.
      parameters:
        - $ref: '#/components/parameters/Account'
        - $ref: '#/components/parameters/Template'
      operationId: updateTemplate
      tags:
        - templates
      requestBody:
        $ref: '#/components/requestBodies/TemplateUpdate'
      responses:
        '200':
          description: Successfully updated a template.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/Template'
        '404':
          $ref: '#/components/responses/404'
      summary: Update a template
    delete:
      description: Permanently deletes a template.
      parameters:
        - $ref: '#/components/parameters/Account'
        - $ref: '#/components/parameters/Template'
      operationId: deleteTemplate
      tags:
        - templates
      responses:
        '204':
          description: Successfully deleted a template
      summary: Delete a template
  '/{account}/templates/{template}/records':
    get:
      description: Lists the records for a template.
      parameters:
        - $ref: '#/components/parameters/Account'
        - $ref: '#/components/parameters/Template'
        - $ref: '#/components/parameters/SortTemplateRecords'
      operationId: listTemplateRecords
      tags:
        - templates
      responses:
        '200':
          description: Successfully retrieved the template records list.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/TemplateRecord'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
      summary: List template records
    post:
      description: Creates a new template record.
      parameters:
        - $ref: '#/components/parameters/Account'
        - $ref: '#/components/parameters/Template'
      operationId: createTemplateRecord
      tags:
        - templates
      requestBody:
        $ref: '#/components/requestBodies/TemplateRecordCreateOrUpdate'
      responses:
        '201':
          description: Successfully create a template record.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/TemplateRecord'
      summary: Create a template record
  '/{account}/templates/{template}/records/{templaterecord}':
    get:
      description: Retrieves the details of an existing template record.
      parameters:
        - $ref: '#/components/parameters/Account'
        - $ref: '#/components/parameters/Template'
        - $ref: '#/components/parameters/TemplateRecord'
      operationId: getTemplateRecord
      tags:
        - templates
      responses:
        '200':
          description: Successfully retrieved a template record.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/TemplateRecord'
        '404':
          $ref: '#/components/responses/404'
      summary: Retrieve a template record
    delete:
      description: Permanently deletes a template record.
      parameters:
        - $ref: '#/components/parameters/Account'
        - $ref: '#/components/parameters/Template'
        - $ref: '#/components/parameters/TemplateRecord'
      operationId: deleteTemplateRecord
      tags:
        - templates
      responses:
        '204':
          description: Successfully deleted a template record.
        '404':
          $ref: '#/components/responses/404'
      summary: Delete a template record
  '/{account}/domains/{domain}/templates/{template}':
    post:
      description: Applies a template to a domain.
      parameters:
        - $ref: '#/components/parameters/Account'
        - $ref: '#/components/parameters/Domain'
        - $ref: '#/components/parameters/Template'
      operationId: applyTemplateToDomain
      tags:
        - templates
      responses:
        '204':
          description: Successfully applied a template to the domain.
        '404':
          $ref: '#/components/responses/404'
      summary: Apply a template
  '/{account}/vanity/{domain}':
    put:
      description: |-
        Enables Vanity Name Servers for the domain.

        This method sets up the appropriate A and AAAA records for the domain to provide vanity name servers, but it does not change the delegation for the domain. To change the delegation for domains to vanity name servers use the endpoints to Delegate to Vanity Name Servers or Dedelegate from Vanity Name Servers.
      parameters:
        - $ref: '#/components/parameters/Account'
        - $ref: '#/components/parameters/Domain'
      operationId: enableVanityNameServers
      tags:
        - vanity name servers
      responses:
        '200':
          description: Successfully enabled vanity name servers on the domain.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/VanityNameServer'
        '400':
          $ref: '#/components/responses/400'
        '404':
          $ref: '#/components/responses/404'
      summary: Enable vanity name servers
    delete:
      description: |-
        Disables Vanity Name Servers for the domain.

        This method removes the A and AAAA records required for the domain to provide vanity name servers, but it does not change the delegation for the domain. To change the delegation for domains to vanity name servers use the endpoints to Delegate to Vanity Name Servers or Dedelegate from Vanity Name Servers.
      parameters:
        - $ref: '#/components/parameters/Account'
        - $ref: '#/components/parameters/Domain'
      operationId: disableVanityNameServers
      tags:
        - vanity name servers
      responses:
        '204':
          description: Successfully disabled vanity name servers on the domain.
        '400':
          $ref: '#/components/responses/400'
        '404':
          $ref: '#/components/responses/404'
      summary: Disable vanity name servers
  '/{account}/webhooks':
    get:
      description: List the webhooks in the account.
      parameters:
        - $ref: '#/components/parameters/Account'
        - $ref: '#/components/parameters/SortWebhooks'
      operationId: listWebhooks
      tags:
        - webhooks
      responses:
        '200':
          description: Successfully retrieved account webhooks list.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Webhook'
      summary: List webhooks
    post:
      description: Registers a webhook endpoint.
      parameters:
        - $ref: '#/components/parameters/Account'
      operationId: createWebhook
      tags:
        - webhooks
      responses:
        '201':
          description: Successfully created a webhook.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/Webhook'
        '400':
          $ref: '#/components/responses/400'
      callbacks:
        webhook:
          '{$request.body#/url}':
            post:
              operationId: receiveWebhook
              summary: Receive webhook notification
              requestBody:
                required: true
                description: Webhook payload
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/WebhookPayload'
              responses:
                '200':
                  description: Webhook successfully processed
      summary: Create a webhook
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [url]
              properties:
                url:
                  type: string
                  format: uri
  '/{account}/webhooks/{webhook}':
    get:
      description: Retrieves the details of a registered webhook.
      parameters:
        - $ref: '#/components/parameters/Account'
        - $ref: '#/components/parameters/Webhook'
      operationId: getWebhook
      tags:
        - webhooks
      responses:
        '200':
          description: Successfully retrieved a webhook.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/Webhook'
      summary: Retrieve a webhook
    delete:
      description: De-registers a webhook endpoint.
      parameters:
        - $ref: '#/components/parameters/Account'
        - $ref: '#/components/parameters/Webhook'
      operationId: deleteWebhook
      tags:
        - webhooks
      responses:
        '204':
          description: Successfully deleted a webhook.
      summary: Delete a webhook
  '/{account}/dns_analytics':
    get:
      description:
        Queries and returns DNS Analytics data available for the provided query parameters.
        This API is currently in Public Beta. During the Public Beta period, changes may occur at any time.
      parameters:
        - $ref: '#/components/parameters/Account'
        - name: start_date
          description:
            Only include results after the given date. Format is ISO8601 (YYYY-MM-DD).
            It can be a max of 31 days away from the end_date.
            If omitted, it defaults to 31 days ago.
          style: form
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/Date'
        - name: end_date
          description:
            Only include results before the given date. Format is ISO8601 (YYYY-MM-DD).
            It can be a max of 31 days away from the start_date.
            If omitted, it defaults to 1 day ago.
          style: form
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/Date'
        - name: groupings
          description:
            How to group the results of the account's DNS analytics.
            No groupings will be applied by default unless specified.
            Multiple groupings can be provided, separated by a comma.
            Applying groupings to the query will add columns to the response payload.
          style: form
          in: query
          required: false
          schema:
            type: string
            enum:
              - 'date'
              - 'volume'
              - 'zone_name'
        - $ref: '#/components/parameters/SortDNSAnalytics'
        - $ref: '#/components/parameters/PaginationPage'
        - $ref: '#/components/parameters/PaginationPerPage'
      responses:
        '200':
          description: Successfully retrieved DNS analytics data.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - query
                  - pagination
                properties:
                  data:
                    type: object
                    required:
                      - rows
                      - headers
                    properties:
                      rows:
                        type: array
                        items:
                          anyOf:
                            - type: integer
                            - type: string
                            - $ref: '#/components/schemas/Date'
                          example: ["example.com", "2024-08-01", 102985]
                      headers:
                        type: array
                        items:
                          type: string
                          example: "zone_name,volume"
                  query:
                    type: object
                    required:
                      - account_id
                      - start_date
                      - end_date
                      - sort
                      - groupings
                      - page
                      - per_page
                    properties:
                      account_id:
                        type: integer
                      start_date:
                        $ref: '#/components/schemas/NullableDate'
                      end_date:
                        $ref: '#/components/schemas/NullableDate'
                      sort:
                        type: string
                        description: Sorting applied to the returned data.
                        example: "date:asc,zone_name:asc"
                      groupings:
                        type: string
                        nullable: true
                        description: Grouping applied to the returned data.
                        example: "date,zone_name"
                      page:
                        type: integer
                        description: The returned page number.
                        example: 1
                      per_page:
                        type: integer
                        description: The page size used to generate the data.
                        example: 1000
                  pagination:
                    $ref: '#/components/schemas/Pagination'
      operationId: queryDnsAnalytics
      tags:
        - billing
        - zones
      summary: Analytics about DNS queries
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
    bearerAuth:
      type: http
      scheme: bearer
  parameters:
    Account:
      name: account
      in: path
      required: true
      description: The account id
      schema:
        type: integer
    Certificate:
      name: certificate
      in: path
      required: true
      description: The certificate id
      schema:
        type: integer
    Contact:
      name: contact
      in: path
      required: true
      description: The contact id
      schema:
        type: integer
    DelegationSigner:
      name: ds
      in: path
      required: true
      description: The delegation signer record id
      schema:
        type: integer
    Domain:
      name: domain
      in: path
      required: true
      description: The domain name or id
      schema:
        type: string
    DomainRegistration:
      name: domainregistration
      in: path
      required: true
      description: The domain registration id
      schema:
        type: integer
    DomainRenewal:
      name: domainrenewal
      in: path
      required: true
      description: The domain renewal id
      schema:
        type: integer
    DomainRestore:
      name: domainrestore
      in: path
      required: true
      description: The domain restore id
      schema:
        type: integer
    DomainTransfer:
      name: domaintransfer
      in: path
      required: true
      description: The domain transfer id
      schema:
        type: integer
    EmailForward:
      name: emailforward
      in: path
      required: true
      description: The email forward id
      schema:
        type: integer
    PrimaryServer:
      name: primaryserver
      in: path
      required: true
      description: The primary server id
      schema:
        type: integer
    Push:
      name: push
      in: path
      required: true
      description: The push id
      schema:
        type: integer
[...]
